.horizontal-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

.horizontal-scroll-container .item
{
    display: inline-block;

    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}


/* not sure what is necessary in bootstrap yet */
/*

*
{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body
{
    background-color: #eee;
}

.container
{
    margin: 0 auto;
    width:1000px;
}

nav
{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

ul
{

}

ul li
{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;

}

ul li a
{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #1e1e1e;
    padding: 0 20px;
}

*/