{% extends "layout.html" %}

{% block content %}

<!--this is the main content-->
<h1>CLASSES</h1>
<p>
    Shows a grid of classes as well as the soonest
    thing due for that class. The last class in the
    grid will be a placeholder that lets you add or
    remove another class
</p>
<p>
    If you click a class, it will open that class
    and show the assignments for it. If you are a
    teacher who has a class, inside you should be
    able to see the number of students who have
    looked at, started, or completed an assignment.
    Also you should be able to "ping" that assignment
    to let your students know that you think it should
    be done soon (they can silence pings without the
    teacher knowing that they silenced them)
</p>

<!--class grid-->
<section id="classes" class="bg-light mt-5">
    <div class="container-lg">
        <div class="text-center">
            <h2>Your Classes</h2>
            <p class="lead text-muted">Here are your classes</p>
        </div>


        <div class="row my-5 align-items-center justify-content-center">
            <!--card 1-->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Class Name</h4>
                        <div class="d-grid gap-2">
                            <div class="btn-group-vertical">
                                <a href="#" class="btn btn-primary">Go to Class</a>
                                <a href="#" class="btn btn-primary">Next Due Assignment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card 2-->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Class Name</h4>
                        <div class="d-grid gap-2">
                            <div class="btn-group-vertical">
                                <a href="#" class="btn btn-primary">Go to Class</a>
                                <a href="#" class="btn btn-primary">Next Due Assignment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card 3-->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Class Name</h4>
                        <div class="d-grid gap-2">
                            <div class="btn-group-vertical">
                                <a href="#" class="btn btn-primary">Go to Class</a>
                                <a href="#" class="btn btn-primary">Next Due Assignment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card 4-->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Class Name</h4>
                        <div class="d-grid gap-2">
                            <div class="btn-group-vertical">
                                <a href="#" class="btn btn-primary">Go to Class</a>
                                <a href="#" class="btn btn-primary">Next Due Assignment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card 5-->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Class Name</h4>
                        <div class="d-grid gap-2">
                            <div class="btn-group-vertical">
                                <a href="#" class="btn btn-primary">Go to Class</a>
                                <a href="#" class="btn btn-primary">Next Due Assignment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}