{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1>DeadLines</h1>
    <p>
        Shows you assignments that are due, but now in order of how hard it will be.
        Maybe if we have time, include a difficulty or time requrement rating provided
        by the teacher
    </p>
</div>

<section id="timeLineList" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h2>Your DeadLines</h2>
            <p class="lead">things that you should consider about these assignments (time needed or difficulty)</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Assignment</li>
            <li class="list-group-item">Assignment</li>
            <li class="list-group-item">Assignment</li>
            <li class="list-group-item">Assignment</li>
            <li class="list-group-item">Assignment</li>
        </ul>

    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</section>

{% endblock %}