{% extends "layout.html" %}

{% block content %}

<section id="login">
    <div class="container-lg">
        <div class="text-center">
            <h2>Log In</h2>
            <p class="lead">do not put important data in, we cannot guarentee its safety</p>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
                <form method="post">
                    {{ form.hidden_tag() }}

                    <p class="lead">
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                        {% for error in form.username.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <p class="lead">
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                        {% for error in form.password.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <p class="lead">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p class="lead">{{ form.submit() }}</p>
                </form>

                <p class="lead">Don't have an account yet?</p>
                <a href="{{ url_for('register') }}">
                    <button type="button">Register</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
