{% extends "layout.html" %}

{% block content %}

<!--this is the main content-->
<div class="container">
        <h1>TimeLine</h1>
        <p>
            Shows a timeline of things that are due in order of immediacy
        </p>
</div>


<section id="timeLineList" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h2>Upcoming Assignments</h2>
            <p class="lead">what is due soon...</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="horizontal-scroll-container">

                    <div class="item card border-primary border-2">
                        <div class="card-header text-center text-primary">Due Today!</div>
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item card border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Assignment Title</h4>
                            <p class="lead card-subtitle">Due 12/31/2099 at 11:59PM</p>
                            <div class="d-grid gap-2">
                                <div class="btn-group-vertical py-4">
                                    <a href="#" class="btn btn-primary">Go to Class</a>
                                    <a href="#" class="btn btn-primary">Go to Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</section>


{% endblock %}
